include cvutils/exporters/coqui.py
include cvutils/exporters/__init__.py
include cvutils/exporters/nemo.py
include cvutils/data/
include cvutils/data/azz
include cvutils/data/azz/alphabet.txt
include cvutils/data/azz/validate.tsv
include cvutils/data/azz/phon.tsv
include cvutils/data/wo
include cvutils/data/wo/alphabet.txt
include cvutils/data/wo/validate.tsv
include cvutils/data/wo/phon.tsv
include cvutils/data/xty
include cvutils/data/xty/alphabet.txt
include cvutils/data/xty/validate.tsv
include cvutils/data/luo
include cvutils/data/luo/alphabet.txt
include cvutils/data/luo/validate.tsv
include cvutils/data/luo/phon.tsv
include cvutils/data/fa
include cvutils/data/fa/alphabet.txt
include cvutils/data/fa/validate.tsv
include cvutils/data/ckt
include cvutils/data/ckt/alphabet.txt
include cvutils/data/ckt/validate.tsv
include cvutils/data/ckt/phon.tsv
include cvutils/data/gl
include cvutils/data/gl/alphabet.txt
include cvutils/data/gl/validate.tsv
include cvutils/data/gl/phon.tsv
include cvutils/data/gl/vocab.tsv
include cvutils/data/rm-vallader
include cvutils/data/rm-vallader/alphabet.txt
include cvutils/data/rm-vallader/validate.tsv
include cvutils/data/rm-vallader/punct.tsv
include cvutils/data/rm-vallader/abbr.tsv
include cvutils/data/rm-vallader/wikipedia.txt
include cvutils/data/myv
include cvutils/data/myv/alphabet.txt
include cvutils/data/myv/validate.tsv
include cvutils/data/fy-NL
include cvutils/data/fy-NL/alphabet.txt
include cvutils/data/fy-NL/validate.tsv
include cvutils/data/fy-NL/punct.tsv
include cvutils/data/fy-NL/abbr.tsv
include cvutils/data/fy-NL/wikipedia.txt
include cvutils/data/fy-NL/vocab.tsv
include cvutils/data/sl
include cvutils/data/sl/alphabet.txt
include cvutils/data/sl/validate.tsv
include cvutils/data/sl/phon.tsv
include cvutils/data/sl/vocab.tsv
include cvutils/data/am
include cvutils/data/am/alphabet.txt
include cvutils/data/am/validate.tsv
include cvutils/data/am/phon.tsv
include cvutils/data/mdf
include cvutils/data/mdf/alphabet.txt
include cvutils/data/mdf/validate.tsv
include cvutils/data/sk
include cvutils/data/sk/alphabet.txt
include cvutils/data/sk/validate.tsv
include cvutils/data/sk/phon.tsv
include cvutils/data/ab
include cvutils/data/ab/alphabet.txt
include cvutils/data/ab/validate.tsv
include cvutils/data/ab/phon.tsv
include cvutils/data/ab/vocab.tsv
include cvutils/data/kk
include cvutils/data/kk/alphabet.txt
include cvutils/data/kk/validate.tsv
include cvutils/data/kk/phon.tsv
include cvutils/data/mr
include cvutils/data/mr/alphabet.txt
include cvutils/data/mr/validate.tsv
include cvutils/data/ctp
include cvutils/data/ctp/alphabet.txt
include cvutils/data/ctp/validate.tsv
include cvutils/data/br
include cvutils/data/br/alphabet.txt
include cvutils/data/br/validate.tsv
include cvutils/data/br/punct.tsv
include cvutils/data/br/abbr.tsv
include cvutils/data/br/phon.tsv
include cvutils/data/br/vocab.tsv
include cvutils/data/eo
include cvutils/data/eo/alphabet.txt
include cvutils/data/eo/validate.tsv
include cvutils/data/eo/vocab.tsv
include cvutils/data/quc
include cvutils/data/quc/alphabet.txt
include cvutils/data/quc/validate.tsv
include cvutils/data/quc/wikipedia.txt
include cvutils/data/quc/phon.tsv
include cvutils/data/hu
include cvutils/data/hu/alphabet.txt
include cvutils/data/hu/validate.tsv
include cvutils/data/hu/phon.tsv
include cvutils/data/ee
include cvutils/data/ee/alphabet.txt
include cvutils/data/ee/validate.tsv
include cvutils/data/ee/phon.tsv
include cvutils/data/sah
include cvutils/data/sah/alphabet.txt
include cvutils/data/sah/validate.tsv
include cvutils/data/sah/punct.tsv
include cvutils/data/sah/abbr.tsv
include cvutils/data/sah/phon.tsv
include cvutils/data/cs
include cvutils/data/cs/alphabet.txt
include cvutils/data/cs/validate.tsv
include cvutils/data/cs/phon.tsv
include cvutils/data/cs/vocab.tsv
include cvutils/data/mhr
include cvutils/data/mhr/alphabet.txt
include cvutils/data/mhr/validate.tsv
include cvutils/data/el
include cvutils/data/el/alphabet.txt
include cvutils/data/el/validate.tsv
include cvutils/data/el/phon.tsv
include cvutils/data/ti
include cvutils/data/ti/alphabet.txt
include cvutils/data/ti/validate.tsv
include cvutils/data/pt
include cvutils/data/pt/alphabet.txt
include cvutils/data/pt/validate.tsv
include cvutils/data/pt/vocab.tsv
include cvutils/data/ky
include cvutils/data/ky/alphabet.txt
include cvutils/data/ky/validate.tsv
include cvutils/data/ky/punct.tsv
include cvutils/data/ky/abbr.tsv
include cvutils/data/ky/l
include cvutils/data/ky/phon.tsv
include cvutils/data/ky/vocab.tsv
include cvutils/data/ro
include cvutils/data/ro/alphabet.txt
include cvutils/data/ro/validate.tsv
include cvutils/data/ro/phon.tsv
include cvutils/data/hy-AM
include cvutils/data/hy-AM/alphabet.txt
include cvutils/data/hy-AM/validate.tsv
include cvutils/data/hy-AM/wikipedia.txt
include cvutils/data/hy-AM/phon.tsv
include cvutils/data/is
include cvutils/data/is/alphabet.txt
include cvutils/data/is/validate.tsv
include cvutils/data/ny
include cvutils/data/ny/alphabet.txt
include cvutils/data/ny/validate.tsv
include cvutils/data/ny/phon.tsv
include cvutils/data/ba
include cvutils/data/ba/alphabet.txt
include cvutils/data/ba/validate.tsv
include cvutils/data/ba/phon.tsv
include cvutils/data/ba/vocab.tsv
include cvutils/data/bn
include cvutils/data/bn/alphabet.txt
include cvutils/data/bn/validate.tsv
include cvutils/data/bn/punct.tsv
include cvutils/data/bn/abbr.tsv
include cvutils/data/ckb
include cvutils/data/ckb/alphabet.txt
include cvutils/data/ckb/validate.tsv
include cvutils/data/ckb/phon.tsv
include cvutils/data/it
include cvutils/data/it/alphabet.txt
include cvutils/data/it/validate.tsv
include cvutils/data/it/phon.tsv
include cvutils/data/lg
include cvutils/data/lg/alphabet.txt
include cvutils/data/lg/validate.tsv
include cvutils/data/lg/phon.tsv
include cvutils/data/lg/vocab.tsv
include cvutils/data/nl
include cvutils/data/nl/alphabet.txt
include cvutils/data/nl/validate.tsv
include cvutils/data/nl/phon.tsv
include cvutils/data/nl/vocab.tsv
include cvutils/data/az
include cvutils/data/az/alphabet.txt
include cvutils/data/az/validate.tsv
include cvutils/data/az/phon.tsv
include cvutils/data/ast
include cvutils/data/ast/alphabet.txt
include cvutils/data/ast/validate.tsv
include cvutils/data/de
include cvutils/data/de/alphabet.txt
include cvutils/data/de/validate.tsv
include cvutils/data/de/punct.tsv
include cvutils/data/de/abbr.tsv
include cvutils/data/de/vocab.tsv
include cvutils/data/cy
include cvutils/data/cy/alphabet.txt
include cvutils/data/cy/validate.tsv
include cvutils/data/cy/phon.tsv
include cvutils/data/cy/vocab.tsv
include cvutils/data/ug
include cvutils/data/ug/alphabet.txt
include cvutils/data/ug/validate.tsv
include cvutils/data/ug/phon.tsv
include cvutils/data/tig
include cvutils/data/tig/alphabet.txt
include cvutils/data/tig/validate.tsv
include cvutils/data/ta
include cvutils/data/ta/alphabet.txt
include cvutils/data/ta/validate.tsv
include cvutils/data/ta/phon.tsv
include cvutils/data/ta/vocab.tsv
include cvutils/data/hi
include cvutils/data/hi/alphabet.txt
include cvutils/data/hi/phon.lexc
include cvutils/data/hi/validate.tsv
include cvutils/data/hi/foo
include cvutils/data/hi/phon.att
include cvutils/data/bg
include cvutils/data/bg/alphabet.txt
include cvutils/data/bg/validate.tsv
include cvutils/data/bg/phon.tsv
include cvutils/data/th
include cvutils/data/th/alphabet.txt
include cvutils/data/th/validate.tsv
include cvutils/data/th/phon.tsv
include cvutils/data/kmr
include cvutils/data/kmr/alphabet.txt
include cvutils/data/kmr/validate.tsv
include cvutils/data/kmr/phon.tsv
include cvutils/data/ml
include cvutils/data/ml/alphabet.txt
include cvutils/data/ml/validate.tsv
include cvutils/data/ml/phon.tsv
include cvutils/data/ln
include cvutils/data/ln/alphabet.txt
include cvutils/data/ln/validate.tsv
include cvutils/data/ki
include cvutils/data/ki/alphabet.txt
include cvutils/data/ki/validate.tsv
include cvutils/data/ki/phon.tsv
include cvutils/data/sr
include cvutils/data/sr/alphabet.txt
include cvutils/data/sr/transliterate.tsv
include cvutils/data/sr/validate.tsv
include cvutils/data/sr/phon.tsv
include cvutils/data/sme
include cvutils/data/vi
include cvutils/data/vi/alphabet.txt
include cvutils/data/vi/validate.tsv
include cvutils/data/vi/punct.tsv
include cvutils/data/vi/abbr.tsv
include cvutils/data/vi/phon.tsv
include cvutils/data/skr
include cvutils/data/skr/alphabet.txt
include cvutils/data/skr/validate.tsv
include cvutils/data/skr/phon.tsv
include cvutils/data/pl
include cvutils/data/pl/alphabet.txt
include cvutils/data/pl/validate.tsv
include cvutils/data/pl/phon.tsv
include cvutils/data/pl/vocab.tsv
include cvutils/data/ga-IE
include cvutils/data/ga-IE/alphabet.txt
include cvutils/data/ga-IE/phon.lexc
include cvutils/data/ga-IE/validate.tsv
include cvutils/data/ga-IE/wikipedia.txt
include cvutils/data/sv-SE
include cvutils/data/sv-SE/alphabet.txt
include cvutils/data/sv-SE/validate.tsv
include cvutils/data/sv-SE/wikipedia.txt
include cvutils/data/sv-SE/phon.tsv
include cvutils/data/sv-SE/vocab.tsv
include cvutils/data/uz
include cvutils/data/uz/alphabet.txt
include cvutils/data/uz/validate.tsv
include cvutils/data/uz/phon.tsv
include cvutils/data/ur
include cvutils/data/ur/alphabet.txt
include cvutils/data/ur/validate.tsv
include cvutils/data/ur/phon.tsv
include cvutils/data/mt
include cvutils/data/mt/alphabet.txt
include cvutils/data/mt/validate.tsv
include cvutils/data/mt/punct.tsv
include cvutils/data/mt/abbr.tsv
include cvutils/data/mt/phon.tsv
include cvutils/data/hsb
include cvutils/data/hsb/alphabet.txt
include cvutils/data/hsb/validate.tsv
include cvutils/data/hsb/punct.tsv
include cvutils/data/hsb/abbr.tsv
include cvutils/data/id
include cvutils/data/id/alphabet.txt
include cvutils/data/id/validate.tsv
include cvutils/data/id/phon.tsv
include cvutils/data/id/vocab.tsv
include cvutils/data/dv
include cvutils/data/dv/alphabet.txt
include cvutils/data/dv/validate.tsv
include cvutils/data/dv/punct.tsv
include cvutils/data/dv/abbr.tsv
include cvutils/data/dv/phon.tsv
include cvutils/data/cv
include cvutils/data/cv/alphabet.txt
include cvutils/data/cv/phon.lexc
include cvutils/data/cv/validate.tsv
include cvutils/data/cv/punct.tsv
include cvutils/data/cv/abbr.tsv
include cvutils/data/cv/phon.hfst
include cvutils/data/cv/phon.tsv
include cvutils/data/cv/vocab.tsv
include cvutils/data/sat
include cvutils/data/sat/alphabet.txt
include cvutils/data/sat/validate.tsv
include cvutils/data/sat/phon.tsv
include cvutils/data/kab
include cvutils/data/kab/alphabet.txt
include cvutils/data/kab/validate.tsv
include cvutils/data/kab/phon.tsv
include cvutils/data/kab/vocab.tsv
include cvutils/data/da
include cvutils/data/da/alphabet.txt
include cvutils/data/da/validate.tsv
include cvutils/data/da/vocab.tsv
include cvutils/data/ne-NP
include cvutils/data/ne-NP/alphabet.txt
include cvutils/data/ne-NP/validate.tsv
include cvutils/data/as
include cvutils/data/as/alphabet.txt
include cvutils/data/as/validate.tsv
include cvutils/data/as/phon.tsv
include cvutils/data/lt
include cvutils/data/lt/alphabet.txt
include cvutils/data/lt/phon.lexc
include cvutils/data/lt/validate.tsv
include cvutils/data/lt/phon.att
include cvutils/data/fi
include cvutils/data/fi/alphabet.txt
include cvutils/data/fi/validate.tsv
include cvutils/data/fi/phon.tsv
include cvutils/data/gn
include cvutils/data/gn/alphabet.txt
include cvutils/data/gn/validate.tsv
include cvutils/data/gn/phon.tsv
include cvutils/data/yo
include cvutils/data/yo/alphabet.txt
include cvutils/data/yo/validate.tsv
include cvutils/data/yo/phon.tsv
include cvutils/data/tos
include cvutils/data/tos/alphabet.txt
include cvutils/data/tos/validate.tsv
include cvutils/data/sc
include cvutils/data/sc/alphabet.txt
include cvutils/data/sc/validate.tsv
include cvutils/data/vot
include cvutils/data/vot/alphabet.txt
include cvutils/data/vot/validate.tsv
include cvutils/data/vot/wikipedia.txt
include cvutils/data/rm-sursilv
include cvutils/data/rm-sursilv/alphabet.txt
include cvutils/data/rm-sursilv/validate.tsv
include cvutils/data/rm-sursilv/punct.tsv
include cvutils/data/rm-sursilv/abbr.tsv
include cvutils/data/rm-sursilv/wikipedia.txt
include cvutils/data/ka
include cvutils/data/ka/alphabet.txt
include cvutils/data/ka/validate.tsv
include cvutils/data/ka/phon.tsv
include cvutils/data/ka/vocab.tsv
include cvutils/data/ig
include cvutils/data/ig/alphabet.txt
include cvutils/data/ig/validate.tsv
include cvutils/data/ig/phon.tsv
include cvutils/data/ar
include cvutils/data/ar/alphabet.txt
include cvutils/data/ar/validate.tsv
include cvutils/data/ar/vocab.tsv
include cvutils/data/ru
include cvutils/data/ru/alphabet.txt
include cvutils/data/ru/validate.tsv
include cvutils/data/ru/vocab.tsv
include cvutils/data/lv
include cvutils/data/lv/alphabet.txt
include cvutils/data/lv/validate.tsv
include cvutils/data/lv/phon.tsv
include cvutils/data/tw
include cvutils/data/tw/alphabet.txt
include cvutils/data/tw/validate.tsv
include cvutils/data/tw/phon.tsv
include cvutils/data/be
include cvutils/data/be/alphabet.txt
include cvutils/data/be/validate.tsv
include cvutils/data/be/phon.tsv
include cvutils/data/rw
include cvutils/data/rw/alphabet.txt
include cvutils/data/rw/validate.tsv
include cvutils/data/rw/phon.tsv
include cvutils/data/rw/vocab.tsv
include cvutils/data/es
include cvutils/data/es/alphabet.txt
include cvutils/data/es/validate.tsv
include cvutils/data/es/phon.tsv
include cvutils/data/es/vocab.tsv
include cvutils/data/eu
include cvutils/data/eu/alphabet.txt
include cvutils/data/eu/validate.tsv
include cvutils/data/eu/punct.tsv
include cvutils/data/eu/abbr.tsv
include cvutils/data/eu/phon.tsv
include cvutils/data/eu/vocab.tsv
include cvutils/data/mrj
include cvutils/data/mrj/alphabet.txt
include cvutils/data/mrj/validate.tsv
include cvutils/data/fr
include cvutils/data/fr/alphabet.txt
include cvutils/data/fr/validate.tsv
include cvutils/data/fr/vocab.tsv
include cvutils/data/kpv
include cvutils/data/kpv/alphabet.txt
include cvutils/data/kpv/wikipedia.txt
include cvutils/data/kpv/phon.tsv
include cvutils/data/or
include cvutils/data/or/alphabet.txt
include cvutils/data/or/validate.tsv
include cvutils/data/or/punct.tsv
include cvutils/data/or/abbr.tsv
include cvutils/data/or/vocab.tsv
include cvutils/data/sw
include cvutils/data/sw/alphabet.txt
include cvutils/data/sw/validate.tsv
include cvutils/data/sw/phon.tsv
include cvutils/data/pa-IN
include cvutils/data/pa-IN/alphabet.txt
include cvutils/data/pa-IN/validate.tsv
include cvutils/data/nn-NO
include cvutils/data/nn-NO/alphabet.txt
include cvutils/data/nn-NO/validate.tsv
include cvutils/data/mn
include cvutils/data/mn/alphabet.txt
include cvutils/data/mn/validate.tsv
include cvutils/data/mn/punct.tsv
include cvutils/data/mn/abbr.tsv
include cvutils/data/mn/phon.tsv
include cvutils/data/ca
include cvutils/data/ca/alphabet.txt
include cvutils/data/ca/validate.tsv
include cvutils/data/ca/vocab.tsv
include cvutils/data/en
include cvutils/data/en/alphabet.txt
include cvutils/data/en/validate.tsv
include cvutils/data/en/punct.tsv
include cvutils/data/en/abbr.tsv
include cvutils/data/en/vocab.tsv
include cvutils/data/ia
include cvutils/data/ia/alphabet.txt
include cvutils/data/ia/validate.tsv
include cvutils/data/ia/phon.tsv
include cvutils/data/cnh
include cvutils/data/cnh/alphabet.txt
include cvutils/data/cnh/validate.tsv
include cvutils/data/mk
include cvutils/data/mk/alphabet.txt
include cvutils/data/mk/validate.tsv
include cvutils/data/bas
include cvutils/data/bas/alphabet.txt
include cvutils/data/bas/validate.tsv
include cvutils/data/bas/wikipedia.txt
include cvutils/data/bas/phon.tsv
include cvutils/data/et
include cvutils/data/et/alphabet.txt
include cvutils/data/et/validate.tsv
include cvutils/data/et/phon.tsv
include cvutils/data/et/vocab.tsv
include cvutils/data/tr
include cvutils/data/tr/alphabet.txt
include cvutils/data/tr/validate.tsv
include cvutils/data/tr/punct.tsv
include cvutils/data/tr/abbr.tsv
include cvutils/data/tr/phon.tsv
include cvutils/data/tr/vocab.tsv
include cvutils/data/uk
include cvutils/data/uk/alphabet.txt
include cvutils/data/uk/validate.tsv
include cvutils/data/uk/phon.tsv
include cvutils/data/tt
include cvutils/data/tt/alphabet.txt
include cvutils/data/tt/validate.tsv
include cvutils/data/tt/punct.tsv
include cvutils/data/tt/abbr.tsv
include cvutils/data/tt/phon.tsv
include cvutils/data/tt/vocab.tsv
include cvutils/data/ha
include cvutils/data/ha/alphabet.txt
include cvutils/data/ha/validate.tsv
include cvutils/data/ha/phon.tsv
include cvutils/opus.weights
