include cvutils/data/
include cvutils/data/rm-vallader
include cvutils/data/rm-vallader/alphabet.txt
include cvutils/data/fy-NL
include cvutils/data/fy-NL/alphabet.txt
include cvutils/data/sl
include cvutils/data/sl/alphabet.txt
include cvutils/data/sl/phon.tsv
include cvutils/data/ab
include cvutils/data/ab/alphabet.txt
include cvutils/data/ab/validate.tsv
include cvutils/data/ab/phon.tsv
include cvutils/data/kk
include cvutils/data/kk/alphabet.txt
include cvutils/data/kk/phon.tsv
include cvutils/data/br
include cvutils/data/br/alphabet.txt
include cvutils/data/br/validate.tsv
include cvutils/data/br/punct.tsv
include cvutils/data/br/abbr.tsv
include cvutils/data/br/phon.tsv
include cvutils/data/eo
include cvutils/data/eo/alphabet.txt
include cvutils/data/quc
include cvutils/data/quc/alphabet.txt
include cvutils/data/quc/phon.tsv
include cvutils/data/hu
include cvutils/data/hu/alphabet.txt
include cvutils/data/hu/phon.tsv
include cvutils/data/sah
include cvutils/data/sah/alphabet.txt
include cvutils/data/sah/phon.tsv
include cvutils/data/cs
include cvutils/data/cs/alphabet.txt
include cvutils/data/cs/validate.tsv
include cvutils/data/cs/phon.tsv
include cvutils/data/el
include cvutils/data/el/alphabet.txt
include cvutils/data/el/phon.tsv
include cvutils/data/pt
include cvutils/data/pt/alphabet.txt
include cvutils/data/ky
include cvutils/data/ky/alphabet.txt
include cvutils/data/ky/phon.tsv
include cvutils/data/ro
include cvutils/data/ro/alphabet.txt
include cvutils/data/ro/phon.tsv
include cvutils/data/hy-AM
include cvutils/data/hy-AM/alphabet.txt
include cvutils/data/hy-AM/phon.tsv
include cvutils/data/it
include cvutils/data/it/alphabet.txt
include cvutils/data/it/phon.tsv
include cvutils/data/lg
include cvutils/data/lg/alphabet.txt
include cvutils/data/lg/phon.tsv
include cvutils/data/nl
include cvutils/data/nl/alphabet.txt
include cvutils/data/nl/phon.tsv
include cvutils/data/de
include cvutils/data/de/alphabet.txt
include cvutils/data/de/validate.tsv
include cvutils/data/cy
include cvutils/data/cy/alphabet.txt
include cvutils/data/cy/phon.tsv
include cvutils/data/ta
include cvutils/data/ta/alphabet.txt
include cvutils/data/ta/phon.tsv
include cvutils/data/th
include cvutils/data/th/alphabet.txt
include cvutils/data/th/phon.tsv
include cvutils/data/vi
include cvutils/data/vi/alphabet.txt
include cvutils/data/vi/phon.tsv
include cvutils/data/pl
include cvutils/data/pl/alphabet.txt
include cvutils/data/pl/phon.tsv
include cvutils/data/ga-IE
include cvutils/data/ga-IE/alphabet.txt
include cvutils/data/sv-SE
include cvutils/data/sv-SE/alphabet.txt
include cvutils/data/sv-SE/phon.tsv
include cvutils/data/mt
include cvutils/data/mt/alphabet.txt
include cvutils/data/mt/phon.tsv
include cvutils/data/hsb
include cvutils/data/hsb/alphabet.txt
include cvutils/data/id
include cvutils/data/id/alphabet.txt
include cvutils/data/id/phon.tsv
include cvutils/data/dv
include cvutils/data/dv/phon.tsv
include cvutils/data/cv
include cvutils/data/cv/alphabet.txt
include cvutils/data/cv/validate.tsv
include cvutils/data/cv/punct.tsv
include cvutils/data/cv/abbr.tsv
include cvutils/data/cv/phon.tsv
include cvutils/data/kab
include cvutils/data/kab/alphabet.txt
include cvutils/data/kab/phon.tsv
include cvutils/data/lt
include cvutils/data/lt/alphabet.txt
include cvutils/data/lt/phon.lexc
include cvutils/data/lt/phon.att
include cvutils/data/fi
include cvutils/data/fi/alphabet.txt
include cvutils/data/fi/validate.tsv
include cvutils/data/fi/phon.tsv
include cvutils/data/vot
include cvutils/data/vot/alphabet.txt
include cvutils/data/rm-sursilv
include cvutils/data/rm-sursilv/alphabet.txt
include cvutils/data/ka
include cvutils/data/ka/alphabet.txt
include cvutils/data/ka/phon.tsv
include cvutils/data/ar
include cvutils/data/ar/alphabet.txt
include cvutils/data/ar/validate.tsv
include cvutils/data/ru
include cvutils/data/ru/alphabet.txt
include cvutils/data/lv
include cvutils/data/lv/alphabet.txt
include cvutils/data/lv/phon.tsv
include cvutils/data/rw
include cvutils/data/rw/alphabet.txt
include cvutils/data/rw/phon.tsv
include cvutils/data/es
include cvutils/data/es/alphabet.txt
include cvutils/data/es/phon.tsv
include cvutils/data/eu
include cvutils/data/eu/alphabet.txt
include cvutils/data/eu/validate.tsv
include cvutils/data/eu/phon.tsv
include cvutils/data/fr
include cvutils/data/fr/alphabet.txt
include cvutils/data/kpv
include cvutils/data/kpv/alphabet.txt
include cvutils/data/kpv/phon.tsv
include cvutils/data/mn
include cvutils/data/mn/alphabet.txt
include cvutils/data/mn/phon.tsv
include cvutils/data/ca
include cvutils/data/ca/alphabet.txt
include cvutils/data/en
include cvutils/data/en/alphabet.txt
include cvutils/data/ia
include cvutils/data/ia/alphabet.txt
include cvutils/data/ia/phon.tsv
include cvutils/data/cnh
include cvutils/data/cnh/alphabet.txt
include cvutils/data/bas
include cvutils/data/bas/alphabet.txt
include cvutils/data/bas/phon.tsv
include cvutils/data/et
include cvutils/data/et/alphabet.txt
include cvutils/data/et/phon.tsv
include cvutils/data/tr
include cvutils/data/tr/alphabet.txt
include cvutils/data/tr/phon.tsv
include cvutils/data/uk
include cvutils/data/uk/alphabet.txt
include cvutils/data/uk/phon.tsv
include cvutils/data/tt
include cvutils/data/tt/alphabet.txt
include cvutils/data/tt/phon.tsv
