include cvutils/data/
include cvutils/data/rm-vallader
include cvutils/data/rm-vallader/alphabet.txt
include cvutils/data/sl
include cvutils/data/sl/alphabet.txt
include cvutils/data/ab
include cvutils/data/ab/alphabet.txt
include cvutils/data/ab/validate.tsv
include cvutils/data/ab/phon.tsv
include cvutils/data/kk
include cvutils/data/kk/phon.tsv
include cvutils/data/br
include cvutils/data/br/alphabet.txt
include cvutils/data/br/validate.tsv
include cvutils/data/br/punct.tsv
include cvutils/data/br/abbr.tsv
include cvutils/data/br/phon.tsv
include cvutils/data/hu
include cvutils/data/hu/alphabet.txt
include cvutils/data/sah
include cvutils/data/sah/phon.tsv
include cvutils/data/el
include cvutils/data/el/phon.tsv
include cvutils/data/pt
include cvutils/data/pt/alphabet.txt
include cvutils/data/ky
include cvutils/data/ky/alphabet.txt
include cvutils/data/ky/phon.tsv
include cvutils/data/ro
include cvutils/data/ro/alphabet.txt
include cvutils/data/th
include cvutils/data/th/alphabet.txt
include cvutils/data/th/phon.tsv
include cvutils/data/pl
include cvutils/data/pl/alphabet.txt
include cvutils/data/ga-IE
include cvutils/data/ga-IE/alphabet.txt
include cvutils/data/sv-SE
include cvutils/data/sv-SE/alphabet.txt
include cvutils/data/hsb
include cvutils/data/hsb/alphabet.txt
include cvutils/data/id
include cvutils/data/id/alphabet.txt
include cvutils/data/dv
include cvutils/data/dv/phon.tsv
include cvutils/data/cv
include cvutils/data/cv/alphabet.txt
include cvutils/data/cv/validate.tsv
include cvutils/data/cv/punct.tsv
include cvutils/data/cv/abbr.tsv
include cvutils/data/cv/phon.tsv
include cvutils/data/fi
include cvutils/data/fi/alphabet.txt
include cvutils/data/fi/validate.tsv
include cvutils/data/fi/phon.tsv
include cvutils/data/rm-sursilv
include cvutils/data/rm-sursilv/alphabet.txt
include cvutils/data/ka
include cvutils/data/ka/alphabet.txt
include cvutils/data/ka/phon.tsv
include cvutils/data/ru
include cvutils/data/ru/alphabet.txt
include cvutils/data/eu
include cvutils/data/eu/alphabet.txt
include cvutils/data/mn
include cvutils/data/mn/phon.tsv
include cvutils/data/et
include cvutils/data/et/alphabet.txt
include cvutils/data/tr
include cvutils/data/tr/phon.tsv
include cvutils/data/uk
include cvutils/data/uk/phon.tsv
include cvutils/data/tt
include cvutils/data/tt/alphabet.txt
include cvutils/data/tt/phon.tsv
